@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 
body{
    font-family: 'Noto Sans KR', sans-serif;
} */


/* Typo */

* { 
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body { 
   font-family:'Noto Sans KR', sans-serif;
   font-size:16px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5;
   color:#111;
   -webkit-font-smoothing: antialiased;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #111;
}

a:hover{
    cursor: pointer;
}

h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 36.4px;
    font-style: normal;
    letter-spacing: 0.5px;
}

h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: normal;
}

h4{
    font-size: 15.5px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal; 
}


/* header CSS */

header {
    width: 100%;
}

#gnb {
    width: 100%;
}

#gnb_sub {
    width: 100%;
    padding: 0 56px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(245, 245, 245);
}

.gnb_sub_brand {
    display: flex;
    width: 200px;
    justify-content: flex-start;
}

.gnb_sub_brand li:first-child{
    margin: 0 24px 0 0;
}

.gnb_sub_member {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.gnb_sub_member li {
    padding: 0 12px;
    border-right: 1px solid rgba(17, 17, 17, 0.4);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.gnb_sub_member li:last-child {
    padding: 0 0 0 12px;
    border-right: none;
}

#gnb_main {
    width: 100%;
    height: 68px;
    padding: 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gnb_logo{
    width: 300px;
}

#gnb_main_menu {
    display: flex;
}

#gnb_main_menu li{
    padding: 0 10px;
    height: 68px;
    line-height: 68px;
    font-weight: 500;
    margin: 0 2px;
}

#gnb_main_menu li:hover{
    border-bottom: 2px solid rgb(17, 17, 17);
}

#gnb_main_menu li a{
    width: 100%;
    height: 100%;
    display: block;
}

#gnb_main_buy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
}

#gnb_main_search{
    width:180px;
    height: 40px;
    background: rgb(245, 245, 245);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#gnb_main_search:hover {
    background: rgb(229, 229, 229);
}

#gnb_main_search div {
    padding: 0 8px;
    line-height: 16px;
    color: #cccccc;
}

#gnb_main_search_button:hover{
    width: 36px;
    height: 36px;
    background: rgb(200, 200, 200);
    border-radius: 18px;
    padding: 6px;
}

#gnb_main_search input {
    background: none;
    border: none;
    font-size: 16px;
    width: 100px;
    line-height: 24px;
}

.gnb_main_favorites {
    width: 24px;
    height: 24px;
    margin: 0 24px;
}

.gnb_main_favorites:hover {
    background: rgb(229, 229, 229);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    padding: 6px;
    margin: 0 18px 0 18px;
}

.gnb_main_cart {
    width: 24px;
    height: 24px;
}

.gnb_main_cart:hover {
    background: rgb(229, 229, 229);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    padding: 6px;
    margin: 0 -6px 0 -6px;
}

/* LNB 메뉴 CSS */

#lnb{
    width: 100%;
    max-height: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.lnb_wrap{
    display: flex;
    margin: 30px 0 30px 0;
    max-height: 600px;
    transition: all 0.4s;
}

.lnb_menu{
    width: 200px;
}

.lnb_menu li{
    margin: 0 0 6px 0;
}

.lnb_menu li a{
    font-size: 14px;
    line-height: 20px;
    color: rgb(117, 117, 117);
}

.lnb_menu li a:hover{
    color: rgb(17, 17, 17);
}

.lnb_menu li:first-child{
    margin: 0 0 12px 0;
}

.lnb_menu li:first-child a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(17, 17, 17);
}

@keyframes fade_in {
    0%{
        max-height: 0;
    }

    100%{
        max-height: 600px;
    }
}

@keyframes fade_out {
    0%{
        max-height: 600px;
    }

    100%{
        max-height: 0;
    }
}

/* 모바일용 */

#m_gnb{
    display: none;
}

#m_lnb{
    display: none;
}

/* Footer CSS */





/* media query */

@media screen and (max-width:1023px){
    
    /* m_gnb */

    #gnb {
        display: none;
    }

    #lnb {
        display: none;
    }

    #m_gnb {
        /* width: 100%;
        background: white;
        padding: 0 24px;
        display: block;
        z-index: 99999;
        position: fixed; */
        width: 100%; 
        background: white;
        padding: 0 24px;
        display: block;
    }

    #m_gnb_main {
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .m_gnb_main_icons{
        display: flex;
        justify-content: space-between;
    }

    .m_gnb_main_icons li {
        width: 36px;
        height: 36px;
        padding: 6px;
        margin: 0 6px;
    }

    .m_gnb_main_icons li:last-child {
        margin: 0 6px 0 6px;
    }

    .m_gnb_main_icons li:hover {
       border-radius: 18px;
       background: rgb(229, 229, 229);
    }

    /* m_lnb */

    #m_lnb{
        /* display: block;
        width: 100%;
        background: white;
        top: 0;
        padding: 0 48px;
        min-height: 100vh;
        position: fixed;
        left: 100vw;
        transition: all 0.6s; */
        background: white; 
        width: 100%; 
        padding: 0 48px; 
        min-height: 100vh; 
        position: relative;
        top:0px;
        left:100vw;
        transition: left 0.4s;
        display: block; 
    }

    
    #m_lnb_close_button {
        background: none;
        /* border: 1px solid rgb(200, 200, 200);
        border-radius: 12px; */
        width: 36px;
        height: 36px;
        padding: 6px;
        margin: 0 6px;
        display: none;
    }

    #m_lnb_close_button:hover{
        border-radius: 18px;
        background: rgb(229, 229, 229);
    }

    .m_lnb_menu li{
        display: block;
        margin: 6px 0 6px 12px;
    }

    .m_lnb_menu h3     {
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 3px 0 6px 0;
    }

    .m_lnb_menu {
        margin: 12px 0;
        overflow: hidden;
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 0 0 12px 0;
        max-height: 44px;
        transition: all 0.4s;
    }

    .m_lnb_menu h2{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .m_lnb_menu span img {
        width: 18px;
        height: 18px;
        opacity: 0.6;
        transition: all 0.4s;
    }

    #m_lnb_wrap .m_lnb_menu:nth-child(1) {
        margin: 40px 0 12px 0;
    }

    
    #m_lnb_wrap .m_lnb_menu:nth-child(7) {
        border: 0;
    }    


    #m_lnb_wrap .m_lnb_brand:first-of-type {
        margin: 40px 0 0 0;
    }

    #m_lnb_wrap .m_lnb_brand:nth-child(9) {
        margin: 12px 0 40px 0;
    }

    .m_lnb_brand {
        margin: 12px 0;
    }

    .m_lnb_brand a {
        display: flex;
        height: 24px;
        align-items: center;
    }

    .m_lnb_brand a span {
        margin: 0 0 0 12px;
    }

    .m_lnb_more h3{
        color: rgb(117, 117, 117);
        margin: 0 0 6px 0;
    }

    .m_lnb_member{
        margin: 20px 0 40px;
    }

    .m_lnb_member button {
        width: 120px;
        height: 40px;
        background: rgb(17, 17, 17);
        color: white;
        line-height: 40px;
        border-radius: 20px;
        border: 2px solid rgb(17, 17, 17);
        font-size: 16px;
    }

    .m_lnb_member button:last-of-type {
        width: 120px;
        height: 40px;
        background: white;
        color: rgb(17, 17, 17);
        line-height: 40px;
        border-radius: 20px;
        border: 2px solid rgb(200, 200, 200);
        font-size: 16px;
    }

    .m_lnb_support{
        margin: 12px 0;
    }

    .m_lnb_support a {
        height: 24px;
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }
    .m_lnb_support a span{
        margin: 0 0 0 12px;
        display: block;
        line-height: 24px;
    }
}


/* Main */

/* section {width: 100%; height: 100vh;} */

/* Footer CSS */
